<div class="container-fluid header">
    <div class="container header1">
        <div class="container header2">
            <nav class="logo">
                <img src="header-logo.webp" alt="">
            </nav>
            <nav class="oder-ve-nuoc">
                <a class="btn-ve-nuoc ve-nuoc1" href="#">
                    <i class="fa-solid fa-glass-water"></i>
                    <span class="text">ĐẶT VÉ NGAY</span>
                </a>
                <a class="btn-ve-nuoc ve-nuoc2" href="#">
                    <i class="fa-solid fa-ticket"></i>
                    <span class="text text2">ĐẶT BẮP NƯỚC</span>
                </a>
            </nav>
            <nav class="temp">
                <nav class="search">
                    <input type="text" class="search-input" placeholder="Tìm phim, rạp...">
                    <button class="search-button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </nav>
                <nav class="sign">
                    <a href="#">
                        <i class="fa-regular fa-circle-user"></i>
                        <span class="txt">Đăng nhập</span>
                    </a>
                </nav>
                <nav class="Ngonngu">
                    <a class="VN" href="#">
                        <img src="VN.png" alt="">
                        <span class="txt">VN</span>
                        <i class="fa-solid fa-sort-down"></i>
                        <a class="US" href="#">
                            <img src="us.jpg" alt="">
                            <span class="txt">US</span>
                        </a>    
                    </a>
                </nav>
            </nav>
        </div>
    </div>
</div>