.header{
    background-color:#172440;
    height: 127px;
    color: rgb(214, 183, 143);
}
.header1{
    /* border: 1px solid yellow; */
    height: 127px;
    width: 1240px;
}
.header2{
    border: 1px solid #2b2e4f;
    height: 77px;
    display: flex;
    border-top: none;
    border-left: none;
    border-right: none;
}
.logo img{
    width: 135px;
    position: relative;
    top: 13px;
}
.oder-ve-nuoc{
    /* border: 1px solid white; */
    width: 577px;
    text-align: center;
}
.oder-ve-nuoc i{
    font-size: 20px;
    position: relative;
    right: 4px;
}
.left-water{
  color: black;
  border: none;
  background-color:#e7df51;
  padding: 8px 14px;
  margin-right:15px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  top: 24px;
  border-radius: 10px;
  font-family:Tahoma;
  font-size: 15px;
  font-weight:500;
}
.left-water:hover{
  color: white;
}
.left-water::after{
  content: "";
  background-image: linear-gradient(to right, #663399, #333399,#3333CC);
  position: absolute;
  z-index: -1;
  padding: 8px 14px;
  display: block;
}
.left-water2[class^="left"]::after {
  transition: all 0.50s;
}
.left-water2[class^="left"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.50s;
}
button.left-water2::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}
.left-water2{
  background-color: #693c96;
  padding: 8px 9px;
  margin-right: 15px;
  color: white;
  border: none;
  overflow: hidden;
  z-index: 1;
  position: relative;
  top: 24px;
  border-radius: 10px;
  font-family:Tahoma;
  font-size: 15px;
  font-weight:500;
}
.left-water2:hover{
  color: black;
}
.left-water2::after{
  content: "";
  background-image: linear-gradient(to right, #FF6600, #FF6633,#FF9900,#FFCC33);
  position: absolute;
  z-index: -1;
  padding: 8px 9px;
  display: block;
}
.left-water[class^="left"]::after {
  transition: all 0.50s;
}
.left-water[class^="left"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.50s;
}
button.left-water::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .search-input {
    margin-bottom: 3px;
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #6d6a6a;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    width: 250px;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search-input:hover, .search-input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search-input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search-input::-webkit-input-placeholder {
    font-weight: 100;
    color: #7d7373;
  }
  
  .search-input:focus + .search-button {
    background-color: #f0eeee;
  }
  
  .search-button {
    border: none;
    border-radius: 10px;
    background-color: #f4f2f2;
    margin-bottom: .1em;
  }
  
  .search-button:hover {
    cursor: pointer;
  }
  
  .search-icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }
  .temp{
    /* border: 1px solid white; */
    display: flex;
  }
  .sign{
    /* border: 1px solid olivedrab; */
    margin-left: 25px;
    padding-top: 20px;
  }
  .sign a{
    text-decoration: none;
    color: white;
  }
  .sign a i{
    padding-top: 4px;
    margin-right: 10px;
    font-size: 25px;
  }
  .sign a span{
    position: relative;
    bottom: 3px;
  }
  .Ngonngu a{
    text-decoration: none;
    color: white;
  }
  .Ngonngu{
    display: grid;
    margin-left: 25px;
    padding-top: 20px;
    /* border: 1px solid orangered; */
  }
  .Ngonngu .VN span{
    position: relative;
    top: 4px;
    padding-right: 4px;
    }
  .Ngonngu .VN img{
    width: 35px;
    padding-top: 3px;
    padding-right: 5px;
  }
  .Ngonngu .US{
    margin-top: 16px;
    padding: 0px 14px 0px 0px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #44487e;
    position: absolute;
    top: 40px;
    opacity: 0;
  }
  .Ngonngu .US img{
    width: 34px;
    border-radius: 50px;
    padding: 3px;
  }
  .Ngonngu .US span{
    position: relative;
    top: 2px;
    padding-left: 3px;
  }
  .header3{
    height: 49px;
  }
  .header3{
    display: flex;
    justify-content: space-between;
  }
  .rap-lich ul{
    /* border: 1px solid red; */
    display: flex;
    position: relative;
    top: 10px;
    left: -30px;
  }
  .rap-lich ul li{
    color: white;
    font-size: 17px;
    list-style-type: none;
    cursor: pointer;
    padding-right: 30px;
  }
  .rap-lich ul li:hover{
    color: #e7df51;
  }
  .rap-lich .address{
    border-radius: 3px;
    border: 1px solid #2b2e4f;
    background-color: #172440;
    width: 1210px;
    height: 110px;
    position: absolute;
    left: 20px;
    flex-wrap: wrap;
    z-index: 1;
    top: 40px;
    transform: translateY(20px);
    visibility: hidden;
  }
  .rap-lich .address li{
    width: 290px;
  }
  .rap-lich .address li a{
    color: white;
    font-size: 17px;
    position: relative;
    top: 10px;
    text-decoration: none;
  }
  .rap{
    height: 40px;
  }
  .rap-lich .address li a:hover{
    color: #e7df51;
  }
  .rap:hover .address{
    transform: translateY(0);
    visibility: visible;
    transition: 0.5s;
  } 
  .top4 ul{
    /* border: 1px solid wheat; */
    display: flex;
    position: relative;
    top: 10px;
  }
  .top4 ul li{
    /* border: 1px solid red; */
    list-style-type: none;
    color: white;
    font-size: 17px;
    list-style-type: none;
    padding-right: 20px;
  }
  .top4 ul li a{
    color: white;
    text-decoration: none;
  }
  .top4 ul li a:hover{
    color: #e7df51;
  }