<div class="container-fluid header">
    <div class="container header1">
        <div class="container header2">
            <nav class="logo">
                <a routerLink="#"><img src="header-logo.webp" alt=""></a>
            </nav>
            <nav class="oder-ve-nuoc">
                <button class="left-water">
                    <i class="fa-solid fa-glass-water"></i>
                    ĐẶT VÉ NGAY
                </button>
                <button class="left-water2">
                        <i class="fa-solid fa-ticket"></i>
                        ĐẶT BẮP NƯỚC
                </button>
            </nav>
            <nav class="temp">
                <nav class="search">
                    <input type="text" class="search-input" placeholder="Tìm phim, rạp...">
                    <button class="search-button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </nav>
                <nav class="sign">
                    <a href="#">
                        <i class="fa-regular fa-circle-user"></i>
                        <span class="txt">Đăng nhập</span>
                    </a>
                </nav>
                <nav class="Ngonngu">
                    <a class="VN" href="#">
                        <img src="VN.png" alt="">
                        <span class="txt">VN</span>
                        <i class="fa-solid fa-sort-down"></i>
                        <a class="US" href="#">
                            <img src="us.jpg" alt="">
                            <span class="txt">US</span>
                        </a>    
                    </a>
                </nav>
            </nav>          
        </div>
        <div class="container header3">
            <nav class="rap-lich">
                <ul >
                    <li class="rap">
                        <i class="fa-solid fa-location-dot"></i>
                        Chọn rạp
                        <ul class="address">
                            <li><a href="">Cinestar Quốc Thanh</a></li>
                            <li><a href="">Cinestar Hai Bà Trưng (TP.HCM)</a></li>
                            <li><a href="">Cinestar Sinh Viên (Bình Dương)</a></li>
                            <li><a href="">Cinestar Mỹ Tho</a></li>
                            <li><a href="">Cinestar Kiên Giang</a></li>
                            <li><a href="">Cinestar Lâm Đồng</a></li>
                            <li><a href="">Cinestar Đà Lạt</a></li>
                            <li><a href="">Cinestar Huế</a></li>
                        </ul>
                    </li>
                    <li>
                        <i class="fa-regular fa-calendar"></i>
                        Lịch chiếu
                    </li>
                </ul>
            </nav>
            <nav class="top4">
                <ul>
                    <li><a href="">Khuyến mãi</a></li>
                    <li><a href="">Thuê sự kiện</a></li>
                    <li><a href="">Tất cả các giải trí</a></li>
                    <li><a routerLink="/Intro">Giới thiệu</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>