<div class="container main-header">
    <div class="bg ">
        <div class="text text-center">
            <h1 class="mb-3 h1 SM-title">HỆ THỐNG CỤM RẠP TRÊN TOÀN QUỐC</h1>
            <p class="">Cinestar là một trong những hệ thống rạp chiếu phim được yêu thích nhất tại Việt Nam, cung cấp nhiều mô hình giải trí hấp dẫn bao gồm Các Cụm Rạp Chiếu Phim hiện đại, Nhà hát, Khu vui chơi trẻ em 
              Kidzone, Bowling, Billiards, Games, Phòng Gym, Nhà Hàng, và Phố Bia C'Beer. Với mục tiêu trở thành điểm đến giải trí cho mọi gia đình Việt Nam, Cinestar đang được biết đến là cụm rạp\
              ủng hộ phim Việt, góp phần phát triển điện ảnh Việt. Không chỉ chiếu các bộ phim bom tấn quốc tế, Cinestar còn đồng hành cùng các nhà làm phim Việt Nam, đưa những tác phẩm điện ảnh đặc sắc của Việt Nam đến gần hơn với khán giả. </p>
        </div>
    </div>
</div>

<div id="su-menh" class="col-sm-12 container">
    <div class="">
        <h2 class="SM-title">SỨ MỆNH</h2>
</div>

<div class="SM-item container mt-5 d-flex">
    <div class="row">
        <div class="SM-item-1 col-sm-4 rounded-3 d-flex ">
            <div class="text-center">
                <h1 class="SM-item-numb">01</h1>
                <p>Góp phần tăng trưởng thị phần 
                    điện ảnh, văn hóa, giải trí 
                    của người Việt Nam</p>
            </div>
        </div>
        <div class="SM-item-2 col-sm-4 rounded-3 d-flex ">
            <div class="text-center">
                <h1 class="SM-item-numb">01</h1>
                <p>Góp phần tăng trưởng thị phần 
                    điện ảnh, văn hóa, giải trí 
                    của người Việt Nam</p>
            </div>
        </div>
        <div class="SM-item-3 col-sm-4 rounded-3 d-flex ">
            <div class="text-center">
                <h1 class="SM-item-numb">01</h1>
                <p>Góp phần tăng trưởng thị phần
                     điện ảnh, văn hóa, giải trí 
                    của người Việt Nam</p>
            </div>
        </div>
    </div>
</div>

<div class="Full-CardCS container d-flex flex-wrap">
    <div class="row First-row">
        <div class="Card col-sm-4">
            <div class="Card-1">
                <img src="01-Quoc-Thanh-masthead.jpg" alt="">
                <h3>Cinestar Quốc Thanh</h3>
            </div>
        </div>
        <div class="Card col-sm-4">
            <div class="Card-2">
                <img src="01-Quoc-Thanh-masthead.jpg" alt="">
                <h3>Cinestar Quốc Thanh</h3>
            </div>
        </div>
        <div class="Card col-sm-4">
            <div class="Card-3">
                <img src="01-Quoc-Thanh-masthead.jpg" alt="">
                <h3>Cinestar Quốc Thanh</h3>
            </div>
        </div>        
    </div>
    <div class="row Second-row">
        <div class="Card col-sm-4">
            <div class="Card-4">
                <img src="01-Quoc-Thanh-masthead.jpg" alt="">
                <h3>Cinestar Quốc Thanh</h3>
            </div>
        </div>
        <div class="Card col-sm-4">
            <div class="Card-5">
                <img src="01-Quoc-Thanh-masthead.jpg" alt="">
                <h3>Cinestar Quốc Thanh</h3>
            </div>
        </div>
        <div class="Card col-sm-4">
            <div class="Card-6">
                <img src="01-Quoc-Thanh-masthead.jpg" alt="">
                <h3>Cinestar Quốc Thanh</h3>
            </div>
        </div>        
    </div>
    <div class="row Third-row">
        <div class="Card col-sm-4">
            <div class="Card-7">
                <img src="01-Quoc-Thanh-masthead.jpg" alt="">
                <h3>Cinestar Quốc Thanh</h3>
            </div>
        </div>
        <div class="Card col-sm-4">
            <div class="Card-8">
                <img src="01-Quoc-Thanh-masthead.jpg" alt="">
                <h3>Cinestar Quốc Thanh</h3>
            </div>
        </div>       
    </div>
</div>
